<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
	<!-- 어디 -->
	
	<!-- 전자투표 -->
	<typeAlias type="com.team1.app.vote.vo.VoteVo" alias="VoteVo"/>
	
	<!-- 민원 하자 게시판 -->
	<typeAlias type="com.team1.app.complaint.vo.ComplaintVo" alias="ComplaintVo"/>
	
	<!-- 입주민 게시판 -->
	  <typeAlias type="com.team1.app.board.vo.BoardVo" alias="BoardVo"/>
	  <typeAlias type="com.team1.app.board.vo.BoardImgVo" alias="BoardImgVo"/>
	  <typeAlias type="com.team1.app.board.vo.BoardLikeVo" alias="BoardLikeVo"/>
	  <typeAlias type="com.team1.app.board.vo.BoardReplyVo" alias="BoardReplyVo"/>
	  <typeAlias type="com.team1.app.board.vo.CategoryVo" alias="CategoryVo"/>
	
	<!-- 커뮤니티 -->
	  <typeAlias type="com.team1.app.facility.vo.FacilityHistoryVo" alias="FacilityHistoryVo"/>
	  <typeAlias type="com.team1.app.facility.vo.FacilityVo" alias="FacilityVo"/>
	  <typeAlias type="com.team1.app.facilitynotice.vo.FacilityNoticeVo" alias="FacilityNoticeVo"/>

	<!-- 관리비 -->
	  <typeAlias type="com.team1.app.managementfee.vo.ManagementFeeVo" alias="ManagementFeeVo"/>
	  
	<!-- 회원  -->
		 <typeAlias type="com.team1.app.member.vo.MemberVo" alias="MemberVo"/>
	  	 
	<!-- 관리자  -->  	 
		 <typeAlias type="com.team1.app.manager.vo.MangerVo" alias="MangerVo"/>
  </typeAliases>

  
</configuration>

