<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComplaintMapper">

	<!-- 내 민원 글조회 (썸네일 사용 시) -->
	<select id="mySumitList" resultType="ComplaintVo">
		SELECT 
		    C.COMPLAINT_NO
		    ,MEMBER_NO
		    ,TITLE
		    ,ENROLL_DATE
		    ,STATUS
		    ,IMG_NO
		    ,IMG_NAME
		    ,PATH
		FROM
		    COMPLAINT C
		JOIN
		    (SELECT I.*,ROW_NUMBER() OVER (PARTITION BY I.COMPLAINT_NO ORDER BY I.IMG_NO) AS RN FROM COMPLAINT_IMG I) I 
		ON
		    C.COMPLAINT_NO = I.COMPLAINT_NO
        AND
            I.RN = 1		   
		WHERE
		    DEL_YN = 'N'

		AND
		    C.MEMBER_NO = #{memberNo}
		ORDER BY
		    COMPLAINT_NO DESC, I.IMG_NO 
	</select>

	<!-- 민원 /접수 -->
	<insert id="complaintSumit">
		INSERT INTO
		    COMPLAINT
		(
		    COMPLAINT_NO
		    ,MANAGER_NO
		    ,MEMBER_NO
		    ,TITLE
		    ,CONTENT
		)
		VALUES
		(
		    SEQ_COMPLAINT_NO.NEXTVAL
		    ,#{managerNo}
		    ,#{memberNo}
		    ,#{title}
		    ,#{content}
		)		
	</insert>
	
	<!-- 민원에 첨부된 사진 삽입/ 접수 -->
	<insert id="imgInsertSumit">
		<foreach item="item" collection="list" open="INSERT ALL" close="SELECT * FROM DUAL">
		INTO
		    COMPLAINT_IMG
		(
		    IMG_NO
		    ,COMPLAINT_NO
		    ,IMG_NAME
		    ,PATH
		    ,ORIGIN_NAME
		)
		VALUES
		(
		    (SELECT GET_COMPLAINT_IMG_SEQ() FROM DUAL )
		    ,SEQ_COMPLAINT_NO.CURRVAL
		    ,#{item.imgName}
		    ,#{item.path}
		    ,#{item.originName}
		)	
		</foreach>
	</insert>
	
	<!-- 내 민원 상세 조회 -->
	<select id="mySumitDetail" resultType="ComplaintVo">
		SELECT 
		    C.COMPLAINT_NO
		    ,MEMBER_NO
		    ,TITLE
		    ,CONTENT
		    ,ENROLL_DATE
		    ,STATUS
		    ,REPLY
		    ,REPLY_DATE 
		    ,IMG_NO
		    ,IMG_NAME
		    ,PATH
		FROM
		    COMPLAINT C
		LEFT JOIN
		    COMPLAINT_IMG I
		ON
		    C.COMPLAINT_NO = I.COMPLAINT_NO
		WHERE
		    DEL_YN = 'N'
		AND
		    C.MEMBER_NO = #{memberNo}
		AND
		    C.COMPLAINT_NO = #{complaintNo}
	</select>
	
	<!-- 관리자 전체 게시글 조회 -->								<!-- 전체 조회 중 중복 이미지 중 첫번쨰 이미지만 조회하는 SQL문  -->
	<select id="adminList" resultType="ComplaintVo">
		SELECT 
		    C.COMPLAINT_NO
		    ,C.MANAGER_NO
		    ,M.MEMBER_NO
            ,M.NAME
            ,DONG
            ,HO
		    ,TITLE
		    ,CONTENT
		    ,ENROLL_DATE
		    ,C.DEL_YN
		    ,STATUS
		    ,REPLY
		    ,REPLY_DATE 
		    ,IMG_NO
		    ,IMG_NAME
		    ,PATH
		    ,ORIGIN_NAME
		FROM
		    COMPLAINT C
        JOIN
            MEMBER M
        ON
            M.MEMBER_NO = C.MEMBER_NO
        JOIN
            UNIT U
        ON
            M.UNIT_NO = U.UNIT_NO
		JOIN
		    (SELECT I.*,ROW_NUMBER() OVER (PARTITION BY I.COMPLAINT_NO ORDER BY I.IMG_NO) AS RN FROM COMPLAINT_IMG I) IMG
		ON
		    C.COMPLAINT_NO = IMG.COMPLAINT_NO
        AND
            IMG.RN = 1
		ORDER BY
		    COMPLAINT_NO DESC, IMG.IMG_NO 
	</select>
	
	<!--관리자 게시글 상세 조회 -->
	<select id="adminDetail" resultType="ComplaintVo">
		SELECT 
		    C.COMPLAINT_NO
		    ,C.MANAGER_NO
		    ,M.MEMBER_NO
            ,M.NAME
            ,DONG
            ,HO
		    ,TITLE
		    ,CONTENT
		    ,ENROLL_DATE
		    ,C.DEL_YN
		    ,STATUS
		    ,REPLY
		    ,REPLY_DATE 
		    ,IMG_NO
		    ,IMG_NAME
		    ,PATH
		    ,ORIGIN_NAME
		FROM
		    COMPLAINT C
        JOIN
            MEMBER M
        ON
            M.MEMBER_NO = C.MEMBER_NO
        JOIN
            UNIT U
        ON
            M.UNIT_NO = U.UNIT_NO
		JOIN
		    COMPLAINT_IMG I
		ON
		    C.COMPLAINT_NO = I.COMPLAINT_NO
		WHERE
		    C.COMPLAINT_NO = #{complaintNo}	
	</select>
	
	<!-- 민원 해결 글 작성 -->
	<update id="clear">
		UPDATE 
		    COMPLAINT
		SET
		    MANAGER_NO = #{managerNo}
		    ,STATUS = #{status}
		    ,REPLY = #{reply}
		    ,DEL_YN = #{delYn}
		    ,REPLY_DATE = SYSDATE
		WHERE
		    COMPLAINT_NO = #{complaintNo}
	</update>
	
	<!-- 전체 민원 검색 -->
	<select id="adminSelect" resultType="ComplaintVo">
		SELECT 		 
		    C.COMPLAINT_NO
		    ,MANAGER_NO
		    ,MEMBER_NO
		    ,TITLE
		    ,CONTENT
		    ,ENROLL_DATE
		    ,DEL_YN
		    ,STATUS
		    ,REPLY
		    ,REPLY_DATE
		    ,IMG_NO
		    ,IMG_NAME
		    ,PATH
		    ,ORIGIN_NAME
		FROM
		    COMPLAINT C
		JOIN
		    COMPLAINT_IMG I
		ON
		    C.COMPLAINT_NO = I.COMPLAINT_NO
		WHERE
		    TITLE LIKE '%${title}%'
		<if test="content!=null">
		AND
		    CONTENT LIKE '%${content}%'		
		</if>
		<if test="delYn != delYn">
		AND
		    DEL_YN = #{delYn}
		</if>
		<if test="reply == null"> <!-- 답변 없는 것만 검색 -->
		AND
		    REPLY IS NULL
		</if>
		<if test="reply != null">
		AND
		    REPLY LIKE '%${reply}%'			
		</if>
		<if test="status != null">
		AND
		    STATUS = #{status} 
		</if>

		<if test="enrollDateStart != null and enrollDateEnd != null">
		AND
		    (ENROLL_DATE BETWEEN TO_DATE(#{enrollDateStart}) AND TO_DATE(#{enrollDateEnd}))
		</if>
		<if test="replyDateStart != null and replyDateEnd != null">
		AND
		    (REPLY_DATE BETWEEN TO_DATE(#{replyDateStart}) AND TO_DATE(#{replyDateEnd}))
		</if>
		ORDER BY
		    C.COMPLAINT_NO DESC
	</select>
	
</mapper>