<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FacilityMapper">
  	<!-- 커뮤니티시설 목록조회(+상세조회) (관리자) -->
	<select id="listForAdmin" resultType="FacilityVo">
		SELECT 
		    FACILITIES_NO
		    , FACILITIES_NAME
		    , UNIT_PRICE
		    , LOCATION
		    , OPERATION_TIME
		    , DAY_OFF
		    , CONTACT
		    , AMENITY
		    , IMAGE
		    , ENROLL_DATE
		    , MODIFY_DATE
		    , DEL_YN
		FROM FACILITIES
	</select>
	
	  	<!-- 커뮤니티시설 상세조회 (관리자) -->
	<select id="detailForAdmin" resultType="FacilityVo">
		SELECT 
		    FACILITIES_NO
		    , FACILITIES_NAME
		    , UNIT_PRICE
		    , LOCATION
		    , OPERATION_TIME
		    , DAY_OFF
		    , CONTACT
		    , AMENITY
		    , IMAGE
		    , ENROLL_DATE
		    , MODIFY_DATE
		    , DEL_YN
		FROM FACILITIES
		WHERE FACILITIES_NO = #{facilitiesNo}
	</select>
		
	<!-- 커뮤니티시설 등록 -->
	<insert id="insert">
		INSERT INTO FACILITIES(
		    FACILITIES_NO
		    , FACILITIES_NAME
		    , UNIT_PRICE
		    , LOCATION
		    , OPERATION_TIME
		    , DAY_OFF
		    , CONTACT
		    , AMENITY
		    , IMAGE
		) VALUES (
		    SEQ_FACILITIES_NO.NEXTVAL
		    , #{facilitiesName}
		    , #{unitPrice}
		    , #{location}
		    , #{operationTime}
		    , #{dayOff}
		    , #{contact}
		    , #{amenity}
		    , #{image}
		)
	</insert>
	
	<!-- 커뮤니티시설 수정 -->
	<update id="edit">
		UPDATE FACILITIES
			<set>
				<if test="facilitiesName != null and facilitiesName !='' ">
					FACILITIES_NAME = #{facilitiesName}
				</if>
				<if test="unitPrice != null and unitPrice !='' ">
					UNIT_PRICE = #{unitPrice}
				</if>
				<if test="location != null and location !='' ">
					LOCATION = #{location}
				</if>
				<if test="operationTime != null and operationTime !='' ">
					OPERATION_TIME = #{operationTime}
				</if>
				<if test="dayOff != null and dayOff !='' ">
					DAY_OFF = #{dayOff}
				</if>
				<if test="contact != null and contact !='' ">
					CONTACT = #{contact}
				</if>
				<if test="amenity != null and amenity !='' ">
					AMENITY = #{amenity}
				</if>
				<if test="image != null and image !='' ">
					IMAGE = #{image}
				</if>
			    MODIFY_DATE = SYSDATE
			</set>
			WHERE FACILITIES_NO = #{facilitiesNo}
	</update>
	
	<!-- 커뮤니티시설 삭제 -->
	<update id="delete">
		UPDATE FACILITIES
			SET
			    DEL_YN = #{delYn}
			    , MODIFY_DATE = SYSDATE
			WHERE FACILITIES_NO = #{facilitiesNo}
	</update>
	
	<!-- 커뮤니티시설 목록조회 (사용자) -->
	<select id="list" resultType="FacilityVo">
		SELECT 
		    FACILITIES_NO
		    , FACILITIES_NAME
		    , IMAGE
		FROM FACILITIES
		WHERE DEL_YN = 'N'
	</select>
	
	<!-- 커뮤니티시설 상세정보조회 (사용자) -->
	<select id="detail" resultType="FacilityVo">
		SELECT 
		    FACILITIES_NO
		    , FACILITIES_NAME
		    , UNIT_PRICE
		    , LOCATION
		    , OPERATION_TIME
		    , DAY_OFF
		    , CONTACT
		    , AMENITY
		    , IMAGE
		FROM FACILITIES 
		WHERE FACILITIES_NO = #{facilitiesNo}
		AND DEL_YN = 'N'
	</select>
	
	<!-- 예약내역조회 (사용자) -->
	<select id="listByHistory" resultType="FacilityHistoryVo">
		SELECT 
		    F.FACILITIES_NO
		    , FACILITIES_NAME
		    , APPLICATION_NO
		    , H.MEMBER_NO
		    , APPLICATION_DATE
		    , USE_DATE
		    , PRICE
		    , CANCEL_DATE        
		    , NAME   
		FROM FACILITIES F
		JOIN FACILITIES_HISTORY H ON F.FACILITIES_NO = H.FACILITIES_NO
		JOIN MEMBER M ON M.MEMBER_NO = H.MEMBER_NO
		WHERE M.MEMBER_NO = #{memberNo}
		ORDER BY APPLICATION_DATE DESC
		
	</select>
	
	<!-- 기간으로 예약내역조회 (사용자) -->
	<select id="listByHistoryAndPeriod" resultType="FacilityHistoryVo">
		SELECT 
		    F.FACILITIES_NO
		    , FACILITIES_NAME
		    , APPLICATION_NO
		    , M.MEMBER_NO
		    , APPLICATION_DATE
		    , USE_DATE
		    , PRICE
		    , CANCEL_DATE        
		    , NAME   
		FROM FACILITIES F
		JOIN FACILITIES_HISTORY H ON F.FACILITIES_NO = H.FACILITIES_NO
		JOIN MEMBER M ON M.MEMBER_NO = H.MEMBER_NO
		WHERE M.MEMBER_NO = #{memberNo}
		AND USE_DATE BETWEEN #{startDate} AND #{endDate}
		ORDER BY USE_DATE DESC
	</select>
	
	<!-- 예약추가(회원번호, 이용일) -->
	<insert id="insertHistory">
	INSERT INTO FACILITIES_HISTORY(
	    APPLICATION_NO
	    , FACILITIES_NO
	    , MEMBER_NO
	    , USE_DATE
	    , PRICE
	) VALUES (
	    SEQ_FACILITIES_HISTORY_NO.NEXTVAL
	    , #{facilitiesNo}
	    , #{memberNo}
	    , #{useDate}
	    , #{price}
	)
	</insert>
	
	<!-- 예약취소(신청번호) -->
	<update id="cancelHistory">
	UPDATE 
	    FACILITIES_HISTORY
	SET 
	    CANCEL_DATE = SYSDATE
	WHERE MEMBER_NO = #{memberNo}
		AND APPLICATION_NO = #{applicationNo}
	</update>
	
</mapper>