<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ManagementFeeMapper">
  	<!-- 관리비 전체 관리비 조회 -->
	<select id="list" resultType="ManagementFeeVo">
	SELECT 
	    BILLING_NO
	    , M.UNIT_NO
	    , USAGE_PERIOD
	    , BASIC_FEE
	    , MAINTERNANCE_FEE
	    , FACILITIES_FEE
	    , TOTAL_AMOUNT
	    , DONG
	    , HO
	    , SCALE
	    , VEH_TIME
	FROM MANAGEMENT_FEE M
	JOIN UNIT U ON M.UNIT_NO = U.UNIT_NO
	</select>
	
	<!-- 관리비 조회 (세대정보, 작년비교)-->
	<select id="listByUnitForYear" resultType="ManagementFeeVo">
		<!-- SELECT ROWNUM, A.*
			FROM 
			(SELECT 
				    BILLING_NO
				    , M.UNIT_NO
				    , USAGE_PERIOD
				    , BASIC_FEE
				    , MAINTERNANCE_FEE
				    , FACILITIES_FEE
				    , TOTAL_AMOUNT
				    , DONG
				    , HO
				    , SCALE
				FROM UNIT U
				JOIN MANAGEMENT_FEE M ON M.UNIT_NO = U.UNIT_NO
				WHERE U.UNIT_NO = #{unitNo}
			    ORDER BY USAGE_PERIOD DESC
			    ) A
				WHERE ROWNUM <= 13 -->
	</select>
	
	
	<!-- 관리비 조회 (세대정보, 기간)-->
	<select id="listByUnitAndPeriod" resultType="ManagementFeeVo">
	SELECT 
	    BILLING_NO
	    , M.UNIT_NO
	    , USAGE_PERIOD
	    , BASIC_FEE
	    , MAINTERNANCE_FEE
	    , FACILITIES_FEE
	    , TOTAL_AMOUNT
	    , DONG
	    , HO
	    , SCALE
	    , VEH_TIME
	FROM UNIT U
	JOIN MANAGEMENT_FEE M ON M.UNIT_NO = U.UNIT_NO
	WHERE  USAGE_PERIOD BETWEEN #{startDate} AND #{endDate}
	AND U.UNIT_NO = #{unitNo}
	</select>
	
</mapper>