<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ParkingMapper">

<!-- 차량 예약등록  -->
<insert id="register" >
INSERT INTO 
parking 
(
PARKING_NO
,MEMBER_NO
,PURPOSE
,CAR_NO
,ENROLL_DATE
) 
VALUES 
(
seq_parking_no.nextval
,#{memberNo}
,#{purpose}
,#{carNo}
,TO_DATE(#{enrollDate}, 'YYYY-MM-DD"T"HH24:MI')
)
</insert>

<!-- 입차 등록  -->
<update id="arrival">
UPDATE 
PARKING 
SET ARRIVAL_TIME = SYSDATE  
WHERE 
PARKING_NO = #{parkingNo} 
AND 
DEL_YN ='N'
AND 
ARRIVAL_TIME IS NULL
</update>

<!-- 출차 등록  -->
<update id="departure">
UPDATE PARKING 
SET DEPARTURE_TIME =SYSDATE 
WHERE 
PARKING_NO =#{parkingNo} 
AND 
DEL_YN ='N'
AND 
ARRIVAL_TIME IS NOT NULL
AND 
DEPARTURE_TIME IS NULL


</update>
<!-- 시간 빼기  -->
<update id="subtractUnitTime">
UPDATE UNIT SET VEH_TIME  = (
SELECT VEH_TIME FROM UNIT
WHERE 
UNIT_NO = #{unitNo}
) - (
SELECT 
 TO_NUMBER( EXTRACT(MINUTE FROM (DEPARTURE_TIME - ARRIVAL_TIME) DAY TO SECOND)) AS FEE 
FROM 
  PARKING
WHERE 
  PARKING_NO = #{parkingNo} AND DEL_YN = 'N'
)
WHERE UNIT_NO = #{unitNo}
</update>
<!-- 예약 취소  -->
<update id="cancel">
UPDATE PARKING 
SET 

DEL_YN = 'Y' 
WHERE 
PARKING_NO = #{parkingNo}
</update>

<!-- 예약 취소  -->
<update id="recovery">
UPDATE PARKING 
SET 
DEL_YN = 'N' 
WHERE 
PARKING_NO = #{parkingNo}
</update>

<!-- 예약 변경  -->
<update id="change">
UPDATE 
PARKING 
<trim prefix="SET" suffixOverrides=",">
<if test="purpose !=null">PURPOSE= #{purpose}, </if> 
<if test="carNo !=null"> CAR_NO =#{carNo},   </if> 
<if test="enrollDate !=null and enrollDate.indexOf('T') != -1">
MODIFY_DATE = TO_DATE(#{enrollDate}, 'YYYY-MM-DD"T"HH24:MI'),
</if>
<if test="enrollDate !=null and enrollDate.indexOf('T') != -1">
ENROLL_DATE = TO_DATE(#{enrollDate}, 'YYYY-MM-DD"T"HH24:MI'),
</if>

<if test="enrollDate !=null and enrollDate.indexOf('T') == -1">
MODIFY_DATE = #{enrollDate},
</if>



</trim>
WHERE PARKING_NO = #{parkingNo} 
AND ARRIVAL_TIME IS NULL  
AND DEL_YN='N'
</update>

<!-- 예약 조회  -->
<select id="list" resultType="ParkingVo">
SELECT 
P.PARKING_NO
,P.MEMBER_NO
,P.PURPOSE
,P.CAR_NO
,P.ENROLL_DATE
,P.ARRIVAL_TIME
,P.DEPARTURE_TIME
,P.MODIFY_DATE
,P.WRITE_DATE
,TO_NUMBER( EXTRACT(MINUTE FROM (DEPARTURE_TIME - ARRIVAL_TIME) DAY TO SECOND)) AS FEE 
,P.DEL_YN
,M.UNIT_NO
,U.DONG
,U.HO
,U.VEH_TIME
,M.NAME
,M.PHONE
FROM PARKING P
JOIN MEMBER M ON M.MEMBER_NO = P.MEMBER_NO
JOIN UNIT U ON M.UNIT_NO = U.UNIT_NO 

<trim prefix="WHERE" suffixOverrides="AND">
	<if test = "name!= null" >	
	 M.NAME LIKE '%' || #{name} || '%' AND
	</if>
	
	<if test = "phone != null" >	
	 M.PHONE LIKE '%' || #{phone} || '%' AND
	</if>
	
	<if test = "carNo != null" >	
	 P.CAR_NO LIKE '%' || #{carNo} || '%' AND
	</if>
	
	<if test = "purpose != null" >	
	 P.PURPOSE LIKE '%' || #{purpose} || '%' AND
	</if>

	
	 <if test="dong != null and dong.length() > 0">
     U.DONG = #{dong} AND
	</if>
	 
	<if test="ho != null and ho.length() > 0">
     U.HO = #{ho} AND
	</if>
	
	<choose>
    <when test="delYn == null or delYn.length() == 0">
    </when>
    
    <otherwise>
        P.DEL_YN = #{delYn} AND
    </otherwise>
	</choose>
	
	
	<if test="startDate != null and startDate.length() > 0 and endDate != null and endDate.length() > 0">
  	P.ENROLL_DATE BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD"T"HH24:MI') AND TO_DATE(#{endDate}, 'YYYY-MM-DD"T"HH24:MI') 
	</if>
    
    <if test="startDate != null and startDate.length() > 0 and (endDate == null or endDate.length() == 0)">
       P.ENROLL_DATE >= TO_DATE(#{startDate}, 'YYYY-MM-DD"T"HH24:MI')
    </if>
    
     <if test="(startDate == null or startDate.length()==0) and endDate != null and endDate.length()>0">
       P.ENROLL_DATE &lt;  TO_DATE(#{endDate}, 'YYYY-MM-DD"T"HH24:MI') 
    </if>
    	
</trim>


ORDER BY P.PARKING_NO DESC
</select>

<select id="count" resultType="int">
SELECT 
COUNT(*)
FROM PARKING P
JOIN MEMBER M ON M.MEMBER_NO = P.MEMBER_NO
JOIN UNIT U ON M.UNIT_NO = U.UNIT_NO 

<trim prefix="WHERE" suffixOverrides="AND">
	<if test = "name!= null" >	
	 M.NAME LIKE '%' || #{name} || '%' AND
	</if>
	
	<if test = "phone != null" >	
	 M.PHONE LIKE '%' || #{phone} || '%' AND
	</if>
	
	<if test = "carNo != null" >	
	 P.CAR_NO LIKE '%' || #{carNo} || '%' AND
	</if>
	
	<if test = "purpose != null" >	
	 P.PURPOSE LIKE '%' || #{purpose} || '%' AND
	</if>

	
	 <if test="dong != null and dong.length() > 0">
     U.DONG = #{dong} AND
	</if>
	 
	<if test="ho != null and ho.length() > 0">
     U.HO = #{ho} AND
	</if>
	
	<choose>
    <when test="delYn == null or delYn.length() == 0">
       
    </when>
    
    <otherwise>
        P.DEL_YN = #{delYn} AND
    </otherwise>
	</choose>
	
	
	<if test="startDate != null and startDate.length() > 0 and endDate != null and endDate.length() > 0">
  	P.ENROLL_DATE BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD"T"HH24:MI') AND TO_DATE(#{endDate}, 'YYYY-MM-DD"T"HH24:MI') 
	</if>
    
    <if test="startDate != null and startDate.length() > 0 and (endDate == null or endDate.length() == 0)">
       P.ENROLL_DATE >= TO_DATE(#{startDate}, 'YYYY-MM-DD"T"HH24:MI')
    </if>
    
     <if test="(startDate == null or startDate.length()==0) and endDate != null and endDate.length()>0">
       P.ENROLL_DATE &lt;  TO_DATE(#{endDate}, 'YYYY-MM-DD"T"HH24:MI') 
    </if>
    	
</trim>


ORDER BY P.PARKING_NO DESC
</select>

<!-- 예약 상세 조회  -->
<select id="detail" resultType="ParkingVo">
SELECT
PARKING_NO
,MEMBER_NO
,ENROLL_DATE
,PURPOSE
,CAR_NO
,ARRIVAL_TIME
,DEPARTURE_TIME
,WRITE_DATE
,TO_NUMBER( EXTRACT(MINUTE FROM (DEPARTURE_TIME - ARRIVAL_TIME) DAY TO SECOND)) AS FEE 
,ENROLL_DATE
FROM PARKING
WHERE 
PARKING_NO = #{parkingNo}  
AND 
DEL_YN ='N'
ORDER BY PARKING_NO DESC
</select>









</mapper>