<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="VoteMapper">

	<!-- 유저 전체 게시글 조회 -->
	<select id="list" resultType="VoteVo">
	
		SELECT 
		    VOTE_NO
		    ,V.MANAGER_NO
		    ,TITLE
		    ,CONTENT
		    ,ENROLL_DATE
		    ,DEADLINE_DATE
		    ,HIT
		FROM 
		    VOTE_BOARD V
		JOIN
		    MANAGER M
		ON 
		    M.MANAGER_NO = V.MANAGER_NO
		WHERE 
		    DEL_YN = 'N'
		ORDER BY 
		    VOTE_NO DESC
	
	</select>
	
	<!-- 유저 게시글 상세 조회 -->
	<select id="detailBoard" resultType="VoteVo">

		SELECT 
		    V.VOTE_NO
		    ,V.MANAGER_NO
		    ,TITLE
		    ,CONTENT
		    ,ENROLL_DATE
		    ,MODIFY_DATE
		    ,DEADLINE_DATE
		    ,ACCEPT_YN
		    ,ID
		    ,ITEM_NO
		    ,ITEM_NAME
		    ,VOTE_ORDER
		    ,VOTE_TYPE
		    ,HIT
		FROM 
		    VOTE_BOARD V
		JOIN
		    MANAGER M
		ON 
		    M.MANAGER_NO = V.MANAGER_NO
		JOIN
		    VOTE_ITEM I
		ON
		    V.VOTE_NO = I.VOTE_NO
		WHERE 
		    DEL_YN = 'N' 
		AND
		    V.VOTE_NO = #{voteNo}
		ORDER BY 
		    V.VOTE_NO DESC
	</select>
	
	<!-- 로그인 회원 투표 여부 조회 -->
	<select id="votingYn" resultType="VoteVo">
		
		SELECT 
		    COUNT(*) AS COUNT
		FROM 
		    VOTE_REPLY 
		WHERE 
		    PRTC_NO = #{prtcNo}
		AND 
		    VOTE_NO = #{voteNo}
		
	</select>
	
	<!-- 게시글 작성 + 투표 항목 선정 -->
	<insert id="insertBoard">
		INSERT INTO 
			VOTE_BOARD
		(
		    VOTE_NO
		    ,MANAGER_NO
		    ,TITLE
		    ,CONTENT
		)
		VALUES 
		(
		    SEQ_VOTE_BOARD_NO.NEXTVAL
		    ,#{managerNo}
		    ,#{title}
		    ,#{content}
		)
	</insert>
	
	<insert id="insertItem" parameterType="list"> 
		<foreach item="item" open="INSERT ALL" index="idx" collection="list" close="SELECT * FROM DUAL">
			INTO
			
			VOTE_ITEM
			(
			    ITEM_NO
			    ,VOTE_NO
			    ,ITEM_NAME
			    ,VOTE_ORDER
			    ,VOTE_TYPE
			)
			VALUES
			(
			    (SELECT GET_ITEM_SEQ() FROM DUAL )
			    ,#{item.voteNo}
			    ,#{item.itemName}
			    ,#{item.voteOrder}
			    ,#{item.voteType}
			)
		</foreach>
		
	</insert>
	

	<!-- 게시글 수정 (글제목, 글내용) -->
	<update id="edit">
		UPDATE
		    VOTE_BOARD 
		<set>
			<if test="title != null">
		    	TITLE = #{title}				
			</if>

			<if test="content != null">
			    ,CONTENT = #{content}		
			</if>
		</set>
		WHERE 
    		VOTE_NO = #{voteNo}			
	</update>

	<!-- 게시글 삭제 -->
	<update id="delete">
		UPDATE 
		    VOTE_BOARD 
		SET
		    DEL_YN = 'Y'
		WHERE 
		    VOTE_NO = #{voteNo}
	</update>

	<!-- 게시글 검색 -->	
	<select id="select" resultType="VoteVo">
		SELECT 
		    VOTE_NO
		    ,V.MANAGER_NO
		    ,TITLE
		    ,CONTENT
		    ,ENROLL_DATE
		    ,DEADLINE_DATE
		    ,HIT
		FROM 
		    VOTE_BOARD V
		JOIN
		    MANAGER M
		ON 
		    M.MANAGER_NO = V.MANAGER_NO
		WHERE
		    DEL_YN = 'N'
		<if test="title != null">
			AND
			    TITLE like '%${title}%'
		</if>
		<if test="title != null">
			OR 
			    CONTENT like '%${title}%'
		</if>
		ORDER BY 
		    VOTE_NO DESC		
	</select>

	<!-- 전체 투표 수 조회 (투표율) -->
	<select id="voteCount" resultType="Integer">
		SELECT 
		    COUNT(*) 
		FROM 
		    VOTE_ITEM 
		WHERE 
		    VOTE_NO = #{voteNo}
	</select>

	<!-- 투표종료 /마감 일자 삽입 -->
	<update id="voteEndDayInsert">
		UPDATE
		    VOTE_BOARD
		SET
		    DEADLINE_DATE = SYSDATE
		WHERE
		    VOTE_NO = #{voteNo}
	</update>

	<!-- 투표종료 / 투표 결과 조회-->
	<select id="voteEndCountSelect" resultType="VoteVo">
		SELECT 
		    VOTE_NO
		    ,ITEM_NAME
		    ,COUNT(*)
		    ,VOTE_ORDER
		FROM 
		    (SELECT 
		        R.REPLY_NO, R.VOTE_NO, R.ITEM_NO, ITEM_NAME, VOTE_ORDER
		    FROM 
		        VOTE_REPLY R
		    JOIN
		        VOTE_ITEM I
		    ON
		        R.ITEM_NO = I.ITEM_NO)
		WHERE 
		    VOTE_NO = #{voteNo}
		GROUP BY
    		VOTE_NO,ITEM_NO, ITEM_NAME, VOTE_ORDER
	</select>

	<!-- 투표 종료 / 투표 모든 결과 테이블 삽입 -->
	<insert id="voteEndFinishInsert">
	
		<foreach item="item" collection="list" open="INSERT ALL" close="SELECT * FROM DUAL">
		INTO
		    VOTE_HISTORY
		(
		    VOTE_HISTORY_NO
		    ,VOTE_NO
		    ,VOTE_NAME
		    ,VOTE_COUNT
		    ,VOTE_ORDER
		)
		VALUES
		(
		    (SELECT GET_HISTORY_SEQ() FROM DUAL )
		    ,#{item.voteNo}
		    ,#{item.voteName}
		    ,#{item.voteCount}
		    ,#{item.voteOrder}
		)

		</foreach>	
	</insert>
	
	<!-- 투표 조회 -->
	<select id="voteCheck" resultType="VoteVo">
		SELECT 
			VOTE_NO
		    ,ITEM_NAME
		    ,COUNT(*)
		    ,VOTE_ORDER
		FROM 
		    (SELECT 
		        R.REPLY_NO, R.VOTE_NO, R.ITEM_NO, ITEM_NAME, VOTE_ORDER
		    FROM 
		        VOTE_REPLY R
		    JOIN
		        VOTE_ITEM I
		    ON
		        R.ITEM_NO = I.ITEM_NO)
		WHERE 
		    VOTE_NO = #{voteNo}
		GROUP BY
		    VOTE_NO, ITEM_NO, ITEM_NAME, VOTE_ORDER		
	</select>

	<!-- 투표하기 -->
	<insert id="voting">
	INSERT INTO
	    VOTE_REPLY
	(
	    REPLY_NO
	    ,VOTE_NO
	    ,ITEM_NO
	    ,PRTC_NO
	)
	VALUES
	(
	    SEQ_VOTE_REPLY_NO.NEXTVAL
	    ,#{voteNo}
	    ,#{itemNo}
	    ,#{prtcNo}
	)
	</insert>

	<!-- 관리자 전체 투표 게시글 조회 -->
	<select id="adminList" resultType="VoteVo">
		SELECT 
		    VOTE_NO
		    ,V.MANAGER_NO AS managerId
		    ,TITLE
		    ,CONTENT
		    ,ENROLL_DATE
		    ,MODIFY_DATE
		    ,DEADLINE_DATE
		    ,DEL_YN
		    ,ACCEPT_YN
		    ,ID
		    ,HIT
		FROM 
		    VOTE_BOARD V
		JOIN
		    MANAGER M
		ON 
		    M.MANAGER_NO = V.MANAGER_NO
		ORDER BY 
		    VOTE_NO DESC
	</select>

	<!-- 관리자 게시글 상세 조회 /게시글 상세 조회 -->
	<select id="adminDetailBoard" resultType="VoteVo">
		SELECT 
		    VOTE_NO
		    ,V.MANAGER_NO
		    ,TITLE
		    ,CONTENT
		    ,ENROLL_DATE
		    ,MODIFY_DATE
		    ,DEADLINE_DATE
		    ,ACCEPT_YN
		    ,ID
		FROM 
		    VOTE_BOARD V
		JOIN
		    MANAGER M
		ON 
		    M.MANAGER_NO = V.MANAGER_NO
		WHERE
			VOTE_NO = #{voteNo}
		
	</select>

	<!-- 관리자 게시글 상세 조회 /게시글 항목 조회 -->
	<select id="adminDetailItem" resultType="VoteVo">
	SELECT 
	    ITEM_NO
	    ,VOTE_NO
	    ,ITEM_NAME
	    ,VOTE_ORDER
	    ,VOTE_TYPE
	FROM    
	    VOTE_ITEM
	WHERE 
	    VOTE_NO = #{voteNo}
	ORDER BY 
		    VOTE_NO DESC
	</select>

	<!-- 관리자 게시글 검색 -->
	<select id="adminSelect" resultType="VoteVo">
		SELECT 
		    VOTE_NO
		    ,V.MANAGER_NO
		    ,TITLE
		    ,CONTENT
		    ,ENROLL_DATE
		    ,MODIFY_DATE
		    ,DEADLINE_DATE
		    ,ACCEPT_YN
		    ,ID
		FROM 
		    VOTE_BOARD V
		JOIN
		    MANAGER M
		ON 
		    M.MANAGER_NO = V.MANAGER_NO
		<if test="managerId != null">
			AND
			    ID = #{managerId}
		</if>
		<if test="title != null">
			AND
			    TITLE like '%${title}%'
		</if>
		<if test="content != null">
			AND 
			    CONTENT like '%${content}%'
		</if>
		<if test="enrollDateStart != null and enrollDateEnd != null"> 
			AND
			    (ENROLL_DATE BETWEEN TO_DATE(#{enrollDateStart}) AND TO_DATE(#{enrollDateEnd}))		
		</if>
		<if test="deadlineDateStart == null and deadlineDateEnd == null">
			AND
			    DEADLINE_DATE IS NULL		
		</if>
		<if test="deadlineDateStart != null and deadlineDateEnd != null"> 
			AND
			    (DEADLINE_DATE BETWEEN TO_DATE(#{deadlineDateStart}) AND TO_DATE(#{deadlineDateEnd}))
		</if>

		<if test="delYn != null">
			AND
			    DEL_YN = #{delYn}
		
		</if>
		<if test="acceptYn != null">
			AND
			    ACCEPT_YN = #{acceptYn}
		</if>
		ORDER BY 
		    VOTE_NO DESC	
	</select>
	
	<!-- 투표 결과 상세 조회 -->
	<select id="history" resultType="VoteVo">
		SELECT 
		    VOTE_HISTORY_NO
		    ,MANAGER_NO
		    ,TITLE
		    ,CONTENT
		    ,ACCEPT_YN
		    ,H.VOTE_NO
		    ,VOTE_NAME
		    ,VOTE_COUNT
		    ,VOTE_ORDER
		FROM
		    VOTE_HISTORY H
		JOIN
		    VOTE_BOARD B
		ON
		    H.VOTE_NO = B.VOTE_NO
		WHERE
			H.VOTE_NO = #{voteNo}		
	</select>
	
	<!-- 관리자 투표 전체 결과 이력 조회  -->
	<select id="adminHistory" resultType="VoteVo">
		SELECT 
		    VOTE_HISTORY_NO
		    ,MANAGER_NO
		    ,TITLE
		    ,CONTENT
		    ,ENROLL_DATE
		    ,DEADLINE_DATE
		    ,ACCEPT_YN
		    ,H.VOTE_NO
		    ,VOTE_NAME
		    ,VOTE_COUNT
		    ,VOTE_ORDER
		FROM
		    VOTE_HISTORY H
		JOIN
		    VOTE_BOARD B
		ON
		    H.VOTE_NO = B.VOTE_NO		
	</select>
	
	<!-- 조회수 증가 -->
	<update id="increaseHit">
		UPDATE
			VOTE_BOARD
		SET 
			HIT = HIT + 1
		WHERE VOTE_NO = #{voteNo}
	</update>
</mapper>