:root {
    /* color */
	--main-color: #9896ff;
	--bg-color: #f5f5f5;
	--font-color: #333;
	--line-color: #ddd;

    /* font */
    --small-size: 0.8125rem; /* 13px */
    --default-size: 0.875rem; /* 14px */
    --middle-size: 0.9375rem; /* 15px */
    --big-size: 1rem; /* 16px */
}
*{
  box-sizing: border-box !important;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, select, button, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'NotoSansKR', sans-serif;
    font-weight: 300;
	vertical-align: baseline;
    letter-spacing: -.5px;
    color: var(--font-color);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
a {
    font-size: var(--default-size);
    color: var(--font-color);
    text-decoration: none;
}
ol, ul, dl, dt, dd, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse !important;
	border-spacing: 0 !important;
}
table caption {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
/* NotoSansKR 웹폰트 */
@font-face {
    font-family: "NotoSansKR";
    src: url("../public/resources/fonts/NotoSans-Thin.woff");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "NotoSansKR";
    src: url("../public/resources/fonts/NotoSans-Light.woff");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "NotoSansKR";
    src: url("../public/resources/fonts/NotoSans-DemiLight.woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "NotoSansKR";
    src: url("../public/resources/fonts/NotoSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "NotoSansKR";
    src: url("../public/resources/fonts/NotoSans-Medium.woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "NotoSansKR";
    src: url("../public/resources/fonts/NotoSans-Bold.woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "NotoSansKR";
    src: url("../public/resources/fonts/NotoSans-Black.woff");
    font-weight: 700;
    font-style: normal;
}

/* 정렬 */
.agn_c{text-align: center !important;}
.agn_l{text-align: left !important;}
.agn_r{text-align: right !important;}

/* 마진 */
.mtp0{margin-top:0 !important}
.mtp50{margin-top: 50px !important;}
.ml0{margin-left: 0 !important;}
.ml10{margin-left: 10px !important;}
.ml20{margin-left: 20px !important;}
.ml30{margin-left: 30px !important;}
.mt0{margin-top: 0 !important;}
.mt5{margin-top: 5px !important;}
.mt10{margin-top: 10px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mt30{margin-top: 30px !important;}
.mt40{margin-top: 40px !important;}
.mt50{margin-top: 50px !important;}
.mb5{margin-bottom: 5px !important;}
.mb10{margin-bottom: 10px !important;}
.mb20{margin-bottom: 20px !important;}
.mb30{margin-bottom: 30px !important;}
.mb40{margin-bottom: 40px !important;}
.mb50{margin-bottom: 50px !important;}

/* 테이블 border */
.br {border-right: 1px solid #d4d4d4 !important;}

/* container */
.container {
    min-height: calc(100vh - 50px - 39px);
    background-color: #f5f5f5;
    padding: 30px;
    box-sizing: border-box;
}
.search_box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 55px;
    padding: 20px;
    box-sizing: border-box;
    /* border: 1px solid #ddd; */
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .06);
    border-radius: 5px;
    background-color: #fff;
    margin: 15px 0;
}
.search_box .search_item {
    display: flex;
    align-items: center;
}
.search_box .search_item label {
    min-width: 100px;
    font-size: var(--default-size);
}
.search_box .search_item .form_box {
    min-width: 160px;
}
.logo_img{
    height: 8vh;
}
.ad_logo{
    height: 10vh;
}